Assume Null hyposthesis as Ho: μ1 = μ2 (There is no difference in diameters of cutlets between two units).

Thus Alternate hypothesis as Ha: μ1 ≠ μ2 (There is significant difference in diameters of cutlets between two units). 
Two Sample Two Tail test

In [8]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [4]:
df = pd.read_csv("Cutlets.csv")

In [5]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [12]:
stats.ttest_ind(df['Unit A'],df['Unit B'], equal_var=False)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.47231324819145404)

### Since p value is greater than alpha (at 95% confidence), we fail to reject Null Hypothesis

#### Conclusion: 
Fail to Reject Null - There is no difference in diameters of cutlets between two units