In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
%matplotlib inline

In [2]:
data = pd.read_csv("BuyerRatio.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [4]:
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [10]:
df_table=data.iloc[:,1:5]
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

### Ho: The data are normal.

### Ha: The data are not normal.

In [11]:
df = df_table.values
df

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [15]:
chi_sq_test_of_ind , p_value, deg_of_freedom, exp_freq = stats.chi2_contingency(df)

print('Chi-Square statistic %f, P value %f, Degrees of Freedom %d' %(chi_sq_test_of_ind , p_value, deg_of_freedom))

Chi-Square statistic 1.595946, P value 0.660309, Degrees of Freedom 3

In [17]:
### Since p value is greater than alpha (at 95% confidence), we fail to reject Null Hypothesis

#### Conclusion: 
Fail to Reject Null - there is proportion of male and female buying is similar