In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
%matplotlib inline

In [2]:
data = pd.read_csv("Costomer_OrderForm.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [4]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

###  Ho: All are same.
### Ha: Atleast 1 is different.

In [7]:
print(data['Phillippines'].value_counts(),data['Indonesia'].value_counts(),data['Malta'].value_counts(),data['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
df = ([[271,267,269,280], [29,33,31,20]])
df

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [10]:
chi_sq_test_of_ind , p_value, deg_of_freedom, exp_freq = stats.chi2_contingency(df)

print('Chi-Square statistic %f, P value %f, Degrees of Freedom %d' %(chi_sq_test_of_ind , p_value, deg_of_freedom))

Chi-Square statistic 3.858961, P value 0.277102, Degrees of Freedom 3

In [11]:
### Since p value is greater than alpha (at 95% confidence), we fail to reject Null Hypothesis

#### Conclusion: 
Fail to Reject Null - We can say that all the canters are equal.