In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statistics import variance

In [2]:
df = pd.read_csv("Q7.csv")

In [3]:
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [5]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,32,32,Mazda RX4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Points,32.0,NaN,NaN,NaN,3.596563,0.534679,2.76,3.08,3.695,3.92,4.93
Score,32.0,NaN,NaN,NaN,3.21725,0.978457,1.513,2.58125,3.325,3.61,5.424
Weigh,32.0,NaN,NaN,NaN,17.84875,1.786943,14.5,16.8925,17.71,18.9,22.9

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   Points      32 non-null     float64
 2   Score       32 non-null     float64
 3   Weigh       32 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.1+ KB

In [7]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [8]:
df['Points'].mean()

3.5965625000000006

In [14]:
variance(df['Points'])

0.2858813508064516

In [15]:
variance(df['Score'])

0.9573789677419355

In [16]:
variance(df['Weigh'])

3.1931661290322575