In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew
from scipy.stats import kurtosis
import statistics
from statistics import variance

In [3]:
df = pd.read_csv("Q9_a.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   50 non-null     int64
 1   speed   50 non-null     int64
 2   dist    50 non-null     int64
dtypes: int64(3)
memory usage: 1.3 KB

In [5]:
df.describe()

          Index      speed        dist
count  50.00000  50.000000   50.000000
mean   25.50000  15.400000   42.980000
std    14.57738   5.287644   25.769377
min     1.00000   4.000000    2.000000
25%    13.25000  12.000000   26.000000
50%    25.50000  15.000000   36.000000
75%    37.75000  19.000000   56.000000
max    50.00000  25.000000  120.000000

In [11]:
print(skew(df['speed'], axis=0, bias=True))

-0.11395477012828319

In [12]:
print(skew(df['dist'], axis=0, bias=True))

0.7824835173114966

In [15]:
print(kurtosis(df['speed'], axis=0, bias=True))

-0.5771474239437371

In [20]:
print(kurtosis(df['dist'], axis=0, bias=True))

0.24801865717051808

In [17]:
df2 = pd.read_csv("Q9_b.csv")

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  81 non-null     int64
 1   SP          81 non-null     float64
 2   WT          81 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 2.0 KB

In [21]:
df2.describe()

       Unnamed: 0          SP         WT
count   81.000000   81.000000  81.000000
mean    41.000000  121.540272  32.412577
std     23.526581   14.181432   7.492813
min      1.000000   99.564907  15.712859
25%     21.000000  113.829145  29.591768
50%     41.000000  118.208698  32.734518
75%     61.000000  126.404312  37.392524
max     81.000000  169.598513  52.997752

In [24]:
print(skew(df2['SP'], axis=0, bias=True))

1.5814536794423764

In [25]:
print(kurtosis(df2['SP'], axis=0, bias=True))

2.7235214865269244

In [26]:
print(skew(df2['WT'], axis=0, bias=True))

-0.6033099322115126

In [27]:
print(kurtosis(df2['WT'], axis=0, bias=True))

0.8194658792266849

In [29]:
dataset = [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]

In [30]:
dataset

[34, 36, 36, 38, 38, 39, 39, 40, 40, 41, 41, 41, 41, 42, 42, 45, 49, 56]

In [40]:
statistics.mean(dataset)

41

In [41]:
statistics.median(dataset)

40.5

In [45]:
variance(dataset)

25.529411764705884

In [46]:
statistics.stdev(dataset)

5.05266382858645